:root{
    --width-input: 30vh;
}

.container{
    padding: 10vh;
}

select{
    min-width: var(--width-input);
}

input {
    min-width: var(--width-input);
}

#btnAtualizar{
    margin-top: 2vh;
    min-width: var(--width-input);
}
